// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CDU_DIALOG DIALOGEX 0, 0, 449, 310
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Flight Information Center"
FONT 10, "Cascadia Code", 0, 0, 0x1
BEGIN
    CTEXT           "",IDC_CDU_GRID,54,16,149,124,SS_SUNKEN | NOT WS_GROUP
    PUSHBUTTON      "L1",IDC_LSK1L,30,32,22,12
    PUSHBUTTON      "L2",IDC_LSK2L,30,48,22,14
    PUSHBUTTON      "L3",IDC_LSK3L,30,66,22,12
    PUSHBUTTON      "L4",IDC_LSK4L,30,82,22,12
    PUSHBUTTON      "L5",IDC_LSK5L,30,100,22,12
    PUSHBUTTON      "L6",IDC_LSK6L,30,118,22,12
    PUSHBUTTON      "R1",IDC_LSK1R,204,32,22,12
    PUSHBUTTON      "R2",IDC_LSK2R,204,48,22,12
    PUSHBUTTON      "R3",IDC_LSK3R,204,66,22,12
    PUSHBUTTON      "R4",IDC_LSK4R,204,82,22,12
    PUSHBUTTON      "R5",IDC_LSK5R,204,100,22,12
    PUSHBUTTON      "A",IDC_KEY_A,108,182,12,12
    PUSHBUTTON      "B",IDC_KEY_B,124,182,12,12
    PUSHBUTTON      "C",IDC_KEY_C,140,182,12,12
    PUSHBUTTON      "EXEC",IDC_KEY_EXEC,184,164,26,12
    PUSHBUTTON      "Switch CDU",IDC_CDU_BUTTON,236,198,48,24
    PUSHBUTTON      "Connect",IDC_DISCONNECT_BUTTON,385,177,43,13
    PUSHBUTTON      "Exit",IDC_EXIT_BUTTON,336,198,48,24
    EDITTEXT        IDC_DEBUG_TEXT,237,231,197,66,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "R6",IDC_LSK6R,204,118,22,12
    PUSHBUTTON      "INIT\nREF",IDC_INIT_REF,51,145,24,17,BS_MULTILINE
    PUSHBUTTON      "RTE",IDC_RTE,75,145,24,17,BS_MULTILINE
    PUSHBUTTON      "DEP\nARR",IDC_DEP_ARR,99,145,24,17,BS_MULTILINE
    PUSHBUTTON      "ALTN",IDC_ALTN,123,145,24,17,BS_MULTILINE
    PUSHBUTTON      "VNAV",IDC_VNAV,147,145,24,17,BS_MULTILINE
    PUSHBUTTON      "FIX",IDC_FIX,51,162,24,17,BS_MULTILINE
    PUSHBUTTON      "LEGS",IDC_LEGS,75,162,24,17,BS_MULTILINE
    PUSHBUTTON      "HOLD",IDC_HOLD,99,162,24,17,BS_MULTILINE
    PUSHBUTTON      "FMC\nCOMM",IDC_FMC_COMM,123,162,24,17,BS_MULTILINE
    PUSHBUTTON      "PROG",IDC_PROG,147,162,24,17,BS_MULTILINE
    PUSHBUTTON      "MENU",IDC_MENU,51,179,24,17,BS_MULTILINE
    PUSHBUTTON      "NAV\nRAD",IDC_NAV_RAD,75,179,24,17,BS_MULTILINE
    PUSHBUTTON      "PREV\nPAGE",IDC_PREV_PAGE,51,196,24,17,BS_MULTILINE
    PUSHBUTTON      "NEXT\nPAGE",IDC_NEXT_PAGE,75,196,24,17,BS_MULTILINE
    CONTROL         "",IDC_STATIC_EXEC_LT3,"Static",SS_OWNERDRAW,188,156,17,6
    PUSHBUTTON      "D",IDC_KEY_D,156,182,12,12
    PUSHBUTTON      "E",IDC_KEY_E,172,182,12,12
    PUSHBUTTON      "F",IDC_KEY_F,108,198,12,12
    PUSHBUTTON      "G",IDC_KEY_G,124,198,12,12
    PUSHBUTTON      "H",IDC_KEY_H,140,198,12,12
    PUSHBUTTON      "I",IDC_KEY_I,156,198,12,12
    PUSHBUTTON      "J",IDC_KEY_J,172,198,12,12
    PUSHBUTTON      "K",IDC_KEY_K,108,215,12,12
    PUSHBUTTON      "L",IDC_KEY_L,124,215,12,12
    PUSHBUTTON      "M",IDC_KEY_M,140,215,12,12
    PUSHBUTTON      "N",IDC_KEY_N,156,215,12,12
    PUSHBUTTON      "O",IDC_KEY_O,172,215,12,12
    PUSHBUTTON      "P",IDC_KEY_P,108,231,12,12
    PUSHBUTTON      "Q",IDC_KEY_Q,124,231,12,12
    PUSHBUTTON      "R",IDC_KEY_R,140,231,12,12
    PUSHBUTTON      "S",IDC_KEY_S,156,231,12,12
    PUSHBUTTON      "T",IDC_KEY_T,172,231,12,12
    PUSHBUTTON      "U",IDC_KEY_U,108,248,12,12
    PUSHBUTTON      "V",IDC_KEY_V,124,248,12,12
    PUSHBUTTON      "W",IDC_KEY_W,140,248,12,12
    PUSHBUTTON      "X",IDC_KEY_X,156,248,12,12
    PUSHBUTTON      "Y",IDC_KEY_Y,172,248,12,12
    PUSHBUTTON      "Z",IDC_KEY_Z,108,264,12,12
    PUSHBUTTON      "SP",IDC_KEY_SP,124,264,12,12
    PUSHBUTTON      "DEL",IDC_KEY_DEL,139,264,14,12
    PUSHBUTTON      "/",IDC_KEY_SLASH,156,264,12,12
    PUSHBUTTON      "CLR",IDC_KEY_CLR,170,264,16,12
    PUSHBUTTON      "1",IDC_KEY_1,52,216,12,12
    PUSHBUTTON      "2",IDC_KEY_2,69,216,12,12
    PUSHBUTTON      "3",IDC_KEY_3,87,216,12,12
    PUSHBUTTON      "4",IDC_KEY_4,52,231,12,12
    PUSHBUTTON      "5",IDC_KEY_5,69,231,12,12
    PUSHBUTTON      "6",IDC_KEY_6,87,231,12,12
    PUSHBUTTON      "7",IDC_KEY_7,52,248,12,12
    PUSHBUTTON      "8",IDC_KEY_8,69,248,12,12
    PUSHBUTTON      "9",IDC_KEY_9,87,248,12,12
    PUSHBUTTON      ".",IDC_KEY_DOT,52,263,12,12
    PUSHBUTTON      "0",IDC_KEY_0,69,263,12,12
    PUSHBUTTON      "+/-",IDC_KEY_PLUS_MINUS,86,263,15,12
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME,22,4,212,293
    PUSHBUTTON      "Refresh",IDC_REFRESH_BUTTON2,286,198,48,24
    CONTROL         "",IDC_STATIC_DSPY_LT4,"Static",SS_OWNERDRAW,32,212,10,28
    CONTROL         "",IDC_STATIC_FAIL_LT5,"Static",SS_OWNERDRAW,32,247,10,28
    CONTROL         "",IDC_STATIC_MSG_LT6,"Static",SS_OWNERDRAW,207,212,10,28
    CONTROL         "",IDC_STATIC_OFST_LT7,"Static",SS_OWNERDRAW,207,247,10,28
    LTEXT           "Zulu Time:  ",IDC_STATIC_SIMTIME,243,4,92,8
    LTEXT           "Distance TOD:  ",IDC_STATIC_DIST_TOD,243,55,99,8
    LTEXT           "Altitude:  ",IDC_STATIC_ALTITUDE,243,21,92,8
    LTEXT           "Baro:   ",IDC_STATIC_BARO,243,71,92,8
    LTEXT           "Heading:   ",IDC_STATIC_HEADING,243,38,89,8
    LTEXT           "IAS/Mach:   ",IDC_STATIC_IASMACH,243,88,90,8
    CONTROL         "",IDC_IPADDRESS1,"SysIPAddress32",WS_TABSTOP,237,178,133,10
    CONTROL         "",IDC_STATIC_PAUSE_LT4,"Static",SS_OWNERDRAW | SS_NOTIFY | SS_REALSIZEIMAGE,398,6,30,6
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_CDU_DIALOG, DIALOG
    BEGIN
        RIGHTMARGIN, 448
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

HTBOTTOM AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_CDU_DIALOG AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

