#include "resource.h"
#include <windows.h>

IDD_CDU_DIALOG DIALOG 0, 0, 340, 640
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "CDU Client"
FONT 8, "Noto Serif"
BEGIN
PUSHBUTTON "Switch to CDU1", IDC_CDU_BUTTON, 20, 500, 100, 30
PUSHBUTTON "Disconnect", IDC_DISCONNECT_BUTTON, 130, 500, 100, 30
EDITTEXT IDC_DEBUG_TEXT, 20, 540, 300, 100, WS_VSCROLL | ES_MULTILINE | ES_READONLY
END
