#include "resource.h"
#include <windows.h>

IDD_CDU_DIALOG DIALOG 0, 0, 340, 520
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "CDU Client"
FONT 10, "Futura Md BT"
BEGIN
CONTROL "", IDC_CDU_GRID, "STATIC", WS_CHILD | WS_VISIBLE | SS_CENTER, 20, 20, 280, 480
PUSHBUTTON "Switch to CDU1", IDC_CDU_BUTTON, 20, 400, 100, 30
PUSHBUTTON "Disconnect", IDC_DISCONNECT_BUTTON, 130, 400, 100, 30
PUSHBUTTON "Exit", IDC_EXIT_BUTTON, 240, 400, 80, 30
EDITTEXT IDC_DEBUG_TEXT, 10,150, 200, 100, WS_CHILD | WS_VISIBLE | WS_VSCROLL | ES_MULTILINE | WS_BORDER
EDITTEXT IDC_RAW_DATA, 10, 10, 200, 100, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_READONLY  |WS_BORDER
END
